h1 {
    text-align: center;
    color: cornflowerblue;
}
img {
    width: 500px
}

/* nav styling */

nav {
    background-color: cornflowerblue;
    padding: 10px;
}

nav ul {
    list-style-type: none;
    margin: 0;
}

nav li {
    display: inline;
    margin-right:  25px;
}

nav a {
    color: white;
    font-size: 1.5em;
    text-decoration: none;
}

nav a:hover {
    color: pink;
    text-decoration: none;
}

/* body and main tag styling*/

body{
    background-color: lightblue;
    text-align: center;
}

main {
    margin-right: 20px;
    margin-left: 20px;
    background-color: white;
}

#new-button{
    padding: 10px 30px
}

/* styling for show page */
h2 {
    color: skyblue
}

div {
    padding: 2px;
}

#show-page{
    padding-top: 15px;
    padding-bottom: 15px;
}